.form-control {
  display: flex;
  flex-direction: column-reverse;
  margin: 0.5rem;
  position: relative;

  &__label {
    line-height: 1;
    margin: 0.5rem 0;
  }

  &__input {
    outline: 0;
    position: relative;
    appearance: none;
    transition: all 0.2s;
    font-size: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    border-radius: 0.375rem;
    border: 1px solid;
    border-color: #dedede;

    &:focus {
      z-index: 1;
      border-color: #3182ce;
      box-shadow: 0 0 0 0.5px #3182ce;
    }

    &__error {
      z-index: 1;
      box-shadow: 0 0 0 0.5px red;
      border-color: red;
    }

    & + label::after {
      content: "";
      background-size: cover;
      position: absolute;
      background-position: left;
      width: 24px;
      height: 24px;
      bottom: 8px;
      left: 10px;
      z-index: 100;
    }
  }

  &__input--email {
    & + label::after {
      background-image: url("https://api.iconify.design/icon-park-solid/avatar.svg");
    }
  }

  &__input--password {
    & + label::after {
      background-image: url("https://api.iconify.design/entypo/lock.svg");
    }
  }
}
