@import "./styles/mixin";
@import "./styles/global";

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  background: url("../src/assets/image/bg.png");
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
